<table class="table">
    <thead>
        <tr>
            <th>
                Character's Name
            </th>
            <th>
                Details
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody id="characterTableBody">
    </tbody>
</table>