@model DnDWebApp_CC.Models.Entities.Spell
@using DnDWebApp_CC.Models.Entities

@{
    ViewData["Title"] = "Create";
    var allDice = ViewData["allDice"] as List<Dice>;
}

<h1>Create</h1>

<h4>Spell</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DiceToRoll" class="control-label"></label>
                <input asp-for="DiceToRoll" class="form-control" />
                <span asp-validation-for="DiceToRoll" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DiceId" class="control-label"></label>
                <select asp-for="DiceId" class="form-select">
                    <option value="null">No dice</option>
                    @foreach (var diceSelect in allDice)
                    {
                        <option value="@diceSelect.Id">@diceSelect.Size</option>
                    }
                </select>
                <span asp-validation-for="DiceId" class="text-danger"></span>
                </div>
            <div class="form-group">
                <label asp-for="SlotLevel" class="control-label"></label>
                <input asp-for="SlotLevel" class="form-control" />
                <span asp-validation-for="SlotLevel" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
